/* body{
    margin: 0;
    padding: 0;
    background: image();
    font-family: Arial, Helvetica, sans-serif;
}
 nav ul{
    list-style: none;
    background: rgb(12, 12, 63);
    padding: 0;
    margin: 5px 20px;
    text-align: center;
    display: flex;
    
}
nav{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 25px 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    }
nav a:hover{
        background: gold;
    } */
    .box {
      overflow: hidden;
    }
    
    .box {
      transition: all 0.7s ease;
    }
    
    .box:hover {
      transform: scale(1.1);
    }
.box {
  background-color: rgb(12, 12, 63);
  border-radius: 20px;
  margin: 10px;
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 300px;
  height: auto;
  margin: auto;
  border-bottom: 5px solid gold;
  color: aliceblue;
}
.container{
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto auto auto auto;
    width: auto;
}
.item1 {
    grid-column: 1/ span 3;
  }
.item2 {
    grid-column: 4/ span 7 ;
    grid-row: auto;
  }
  .navbar a:hover{
    background: rgb(12, 12, 63);
  }
  main {
    scroll-behavior: smooth;
  }
  .bod {
    opacity: 0.9;
  }
  .about {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    padding: 10px;
    margin: auto;
  }
  .itemA {
    background-color: gold;
    border-radius: 40px;
    margin: 10px;
    grid-column: 1/ span 2;
    grid-row: 1;
    width: 600px;
    height: 900px;
    margin: auto;
  }
  .itemB {
    background-color: gold;
    border-radius: 40px;
    margin: 10px;
    grid-column: 1/ span 2;
    grid-row: 2;
    height: 900px;
  }
  .itemC {
    background-color: gold;
    border-radius: 40px;
    margin: 10px;
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .itemD {
    background-color: gold;
    border-radius: 40px;
    margin: 10px;
    grid-column: 3;
    grid-row: 1/ span 3;
  }
  .meaning {
    border: 2px solid;
  }
  
  h2 {
    color: aliceblue;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(12, 12, 63);
  }
  h3 {
    color: black;
    border-style: solid;
    border-radius: 40px;
    background-color: gold;
    width: 50%;
    margin: auto;
  }
  h4 {
    color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: gold;
    width: 70%;
    margin: auto;
  }
  footer{
    background-color: gold;
  }
  .footer{
    color: aliceblue;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(12, 12, 63);
    width:  50%;
    margin: auto;
  }
  .top{
    color: aliceblue;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(12, 12, 63);
    width:  100%;
    margin: auto;
  }
  img {
    display: flex;
    margin: auto;
  }

  .courses {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    color: aliceblue;
    margin: auto;
  } 
  figcaption{
    border: solid yellow;
  }

.co1{
  background-color: rgb(12, 12, 63);
    border-radius: 40px;
    margin: 10px;
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 300px;
    height: 400px;
    margin: auto;
    border-bottom: 5px solid gold;
}
.co2{
  background-color: rgb(12, 12, 63);
    border-radius: 40px;
    margin: 10px;
    grid-column: 2 / span 3;
    grid-row: 1;
    width: 300px;
    height: 800px;
    margin: auto;
    border-bottom: 5px solid gold;
}
.co3{
  background-color: rgb(12, 12, 63);
    border-radius: 40px;
    margin: 10px;
    grid-column: 3 / span 4;
    grid-row: 1;
    width: 300px;
    height: 700px;
    margin: auto;
    border-bottom: 5px solid gold;
}
.co4{
  background-color: rgb(12, 12, 63);
    border-radius: 40px;
    margin: 10px;
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 300px;
    height: 500px;
    margin: auto;
    border-bottom: 5px solid gold;
}
.co5{
  background-color: rgb(12, 12, 63);
    border-radius: 40px;
    margin: 10px;
    grid-column: 1;
    grid-row: 1;
    width: 300px;
    height: 900px;
    margin: auto;
    border-bottom: 5px solid gold;
}
.co6{
  background-color: rgb(12, 12, 63);
    border-radius: 40px;
    margin: 10px;
    grid-column: 1;
    grid-row: 1;
    width: 300px;
    height: 700px;
    margin: auto;
    border-bottom: 5px solid gold;
}

.services{
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  padding: 10px;
  color: rgb(231, 234, 238);
  margin: auto;
}
.admission{
  background-color: rgb(12, 12, 63);
    border-radius: 10px;
    margin: 10px;
    grid-column: 1;
    grid-row: 1;
    margin: 10px;
    border-bottom: 5px solid gold;
}